<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=h user %>'s GitHub homepage</title>
  <link rel="stylesheet" type="text/css" href="site.css" />
</head>
<body>
  <h1><a href="http://github.com/<%=h user %>"><%=h user %></a>'s GitHub repositories</h1>
  <ul>
  <% for repo in repos.sort_by { |r| r[:name] } %>
    <li>
      <a href="<%= repo[:html_url] %>"><%=h repo[:name] %></a>
      – <%= repo[:fork] ? %Q{[<a href="#{repo[:parent][:html_url]}">FORK</a>] } : '' %><%=h repo[:description] %>
      (<%= n = repo[:watchers] %> watcher<%= n != 1 ? 's' : '' %>, <%= n = repo[:forks] %> fork<%= n != 1 ? 's' : '' %>)
      <% unless repo[:homepage].to_s.empty? %>[<a href="<%= repo[:homepage] %>">homepage</a>]<% end %>
    </li>
  <% end %>
  </ul>
</body>
</html>
