<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>blackwinter's GitHub homepage</title>
  <link rel="stylesheet" type="text/css" href="blackwinter.css" />
</head>
<body>
  <div id="main">
    <h1><a href="http://github.com/blackwinter">blackwinter</a>'s GitHub repositories</h1>
    <ul>
    <% for repo in repos.sort_by { |r| r[:name] } %>
      <li>
        <a href="<%= repo[:html_url] %>"><%=h repo[:name] %></a>
        - <%= repo[:fork] ? '[FORK] ' : '' %><%=h repo[:description] %>
        (<%= n = repo[:watchers] %> watcher<%= n != 1 ? 's' : '' %>, <%= n = repo[:forks] %> fork<%= n != 1 ? 's' : '' %>)
        <% unless repo[:homepage].empty? %>[<a href="<%= repo[:homepage] %>">homepage</a>]<% end %>
      </li>
    <% end %>
    </ul>
  </div>
</body>
</html>
