<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=h user %>'s GitHub homepage</title>
  <link rel="stylesheet" type="text/css" href="site.css" />
</head>
<body>
  <h1><a href="http://github.com/<%=h user %>"><%=h user %></a>'s GitHub repositories</h1>
  <ul>
  <% for repo in repos.sort_by { |r| r[:name] } %>
    <li>
      <%= a repo[:name], repo[:html_url] %>
      – <%= repo[:fork] ? "[#{a 'FORK', repo[:parent][:html_url]}] " : '' %><%=h repo[:description] %>
      (<%= n = repo[:watchers] %> watcher<%= n != 1 ? 's' : '' %>, <%= n = repo[:forks] %> fork<%= n != 1 ? 's' : '' %>)
      <%= v(repo, :homepage) { |v| a 'homepage', v } %>
      <%= v(repo, :language) %>
      <%= v(repo, :license, :spdx_id) %>
    </li>
  <% end %>
  </ul>
</body>
</html>
